<div class="container">

	{{!-- Title Jumbotron --}}

	<div class="row">
		<div class="col-md-12 text-center" id="tittle">
			<div class="jumbotron jumbotron-fluid">
				<div class="container">
					<h1 class="display-4 titleFont">Burger Fest!</h1>
					<p class="lead titleFont">All you can eat burgers. Simply add any burger, then eat it!
					</p>
				</div>
			</div>
		</div>
	</div>

	{{!-- Available/Eaten --}}

	<div class="row">
		<div class="col-md-6 text-center">
			<h3 id="available">Available</h3>
		</div>
		<div class="col-md-6 text-center">
			<h3 id="eaten">Eaten</h3>
		</div>
	</div>


	<hr id="lineBreak">
	{{!-- Burgers Begin! --}}

	<div class="row">
		<div class="col-md-7 text-center" class="task">
			<div class="row">
				{{#each burgerInfo}}
				{{#unless this.devoured}}
				<div class="col-md-9 text-center">
					<h4 class="form-control" type="text">{{this.burger_name}}</h4>
				</div>
				<div class="col-md-3 text-center">
					<form class="eatItNow button-size">
						<input input type="hidden" class="burger_id" type="text" value={{this.id}}><br>
						<button type="submit" class="btn btn-danger">EAT IT NOW!</button>
					</form>
				</div>
				{{/unless}}
				{{/each}}
			</div>
		</div>
		<div class="col-md-5 text-center" class="task">
			{{#each burgerInfo}}
			{{#if this.devoured}}
			<h4 class="form-control" type="text">{{this.burger_name}}</h4>
			{{/if}}
			{{/each}}
		</div>
	</div>

	<br>
	{{!-- Add a Burger --}}

	<div class="row">
		<div class="col-md-12 text-center enter_section">
			<form action="/burger/add" method="POST">
				<p id="addnew"> Add a new Burger! Any Burger!</p>
				<input type="text" class="form-control" name="burger_name" placeholder="Enter Burger Name Here">

				<br>
				{{!-- <button type="submit" class="btn btn-primary" id="text-enter-button addIt">Add It</button> --}}
				<button type="submit" class="btn btn-danger" id="addIt">Add It</button>
			</form>
		</div>
	</div>

</div>

<footer class="footer"></footer>