.titleFont {
    font-weight: bold;
}
#available {
    margin-right: 50px;
}

#eaten {
    margin-left: 100px;
}

#addnew{
    font-size: 20px;
}

.footer{
    position: relative;
    height: 50px;
    width: 100%;
    background: #666666;
    margin-top: 100px;
}

#lineBreak {
    margin-bottom: 25px;
}

.jumbotron {
    background-color: #666666;
}

#addIt{
  margin-left: 18px;
}